# Server
PORT=5000

# MongoDB
MONGO_URI=mongodb://localhost:27017/libreria

# Security
BCRYPT_SALT_ROUNDS=10

# JWT (para auth con token)
JWT_SECRET=changeme-super-secret
JWT_EXPIRES_IN=7d

# Permitir registrar admin desde /auth/register (solo para demo/local)
ALLOW_ADMIN_REGISTRATION=true

# Préstamos
LOAN_DAYS=14
